<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromelo admin</title>
    <link rel="icon" type="image/png" href="../public/images/icon/icon.png">
</head>

<body>
    <main>
        <h1>アドミン用データベース管理ページ</h1>
        <div class="form">
            <h2>データ入力</h2>
            <%%>
                <form action="#" method="post">
                    <p>場面_____<input></p>
                    <p>香り_____<input></p>
                    <p>香りの系統<input></p>
                    <p>曲名_____<input></p>
                    <p>曲のURL__<input></p>
                    <p>曲の分数</p>
                    <p>曲の雰囲気<input></p>
                    <p>備考______<textarea></textarea></p>
                    <input type="submit" value="保存">
                </form>
        </div>

        <div class="list">
            <h2>データ一覧</h2>
        </div>
    </main>
</body>

</html>