<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Aromelo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/icon/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="container">
            <a href="#">
                <img class="icon" src="/images/icon/icon.png">
                <h1>Aromelo</h1>
            </a>


            <ul>
                <a href="#">
                    <li>Aromeloとは</li>
                </a>
                <a href="#">
                    <li>場面で選ぶ</li>
                </a>
                <a href="#">
                    <li>作業を開始する</li>
                </a>
                <a href="#">
                    <li>お問い合わせ</li>
                </a>
            </ul>
        </div>

    </header>
    <main>
        <div class="top-wrapper">
            <div class="container">
                <h1>Relax your nerves</h1>
                <h3>上質な香りと音楽で心地よく</h3>
            </div>
        </div>
        <div class="about-wrapper">
            <div class="container">
                <div class="section-icon">
                    <img src="/images/icon/bubble.png">
                    <p class="section-title">About</p>
                </div>

                <div class="text">
                    <p class="core">デスクワークの環境をグレードアップしませんか。<br></p>

                    <p class="addition">Aromeloは場面に合わせた音楽と香りであなたをサポートします。<br>
                        作業を始めるときはエネルギッシュに気分を上げ、集中力が高まってきたら穏やかに。疲れたら楽しく陽気にリフレッシュしましょう。
                </div>
                <div class="sample-photos">
                    <img class="left" src="/images/photo/deskwork.png">
                    <img class="right" src="/images/photo/music_score.png">
                </div>
            </div>
        </div>
        <div class="service-wrapper">
            <div class="container">
                <div class="section-icon">
                    <img src="/images/icon/bubble.png">
                    <p class="section-title">Service</p>
                </div>
                <div class="service-items">
                    <div class="service-item select">
                        <div class="service-title-wrapper">
                            <img src="/images/icon/select.png">
                            <p>場面で選ぶ</p>
                        </div>
                        <p class="explanation">
                            朝起きたとき、作業を開始するとき、休憩するとき、寝る前、など、日常の様々な場面にあわせて、バックグラウンドミュージックとバックグラウンドアロマをお送りします。
                        </p>
                    </div>
                    <div class="service-item start-work">
                        <div class="service-title-wrapper">
                            <img src="/images/icon/pencil.png">
                            <p>作業を始める</p>
                        </div>
                        <p class="explanation">
                            集中力を維持して作業を続けるための、ポモドーロ・テクニックに基づき、25分間作業と5分間休憩を4回繰り返すごとに、30分間休憩することを促します。このデフォルトの時間設定は変更できます。フェーズに合わせた音楽と香りをお届けします。休憩中は世界中の美しい風景で疲れた目を癒やします。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-wrapper">
            <div class="container">
                <div class="section-icon">
                    <img src="/images/icon/bubble.png">
                    <p class="section-title">Message</p>
                </div>
                <div class="item-wrapper">
                    <div class="left">
                        <img src="/images/photo/aroma.png">
                        <!-- <img src="/images/photo/music.png"> -->
                    </div>
                    <div class="right">
                        <div class="text">
                            <p class="core">上質な香りと音楽で心地よく<br></p>

                            <p class="addition">
                                在宅ワークの機会が増えましたが、気分を切り替えて仕事に集中するのはなかなか難しいものです。場面にあった香りと音楽に包まれて、心地よくデスクワークをしませんか。
                            </p>
                        </div>
                        <div class="invite-wrapper">
                            <img src="/images/icon/start.png">
                            <p>さっそく<br>使ってみる</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <img class="icon" src="/images/icon/icon.png">
            <h1>Aromelo</h1>
            <ul>
                <li>お問い合わせ</li>
                <li>プライバシーポリシー</li>
            </ul>
        </div>
    </footer>
</body>

</html>